ion-header{
  ion-toolbar{
    --background: var(--main-color) !important;
    ion-title{
      position: absolute;
      left: 50px;
      right: 50px;
      top: 10px;
      margin: auto;
      text-align: center;
    }
    ion-buttons{
      ion-menu-button, ion-back-button{
        color: #fff;
      }
    }
  }
  &:after{
    display: none;
  }
}
ion-content{
  section{
    h1{
      &[heading]{
        padding-left: var(--ion-spacing-10);
      }
      font-family: "Bebas";
      font-size: var(--ion-font-18);
      margin-bottom: 0;
    }

    &[my-programs]{
      ion-card{
        margin: 0;
        position: relateive;

        img{
            &[play]{
              height: 170px;
              object-fit: cover;
              width: 100%;
            }
        }
        [play-icon]{
            position: absolute;
            color: var(--ion-color-dark-contrast);
            top: 33%;
            font-size: 53px;
          left: 41%;
          
        }
        ion-text{
          &[content]{
            background: var(--ion-transparent-black);
            position: absolute;
              bottom: 0;
              width: 100%;
              left: 0;
              color: var(--ion-color-dark-contrast);
              p{
                margin: var(--ion-spacing-10);
                font-size: var(--ion-font-13);
              }
          }
        }
      }
      ion-slide{
        max-width: 350px!important;
      }
    }
    &[available-programs]{
      margin: var(--ion-spacing-10);

      ion-list{
        padding: 0;

        img{
            height: 25vh;
            margin: var(--ion-spacing-20) 0;
            object-fit: cover;
            width: 15vh;
        }
        ion-text{
          padding-left: var(--ion-spacing-15);
          margin: var(--ion-spacing-20) 0;

          h6{
            white-space: nowrap;
              font-size: var(--ion-font-14);
              font-weight: 600;
              overflow: hidden;
              text-overflow: ellipsis;
              width: 150px;
              margin: var(--ion-spacing-5) 0;
          }
          p{
            font-size: var(--ion-font-12);
              color: #909090;
              margin-top: var(--ion-spacing-5);
            margin-bottom: 0;

              a{
                color: var(--ion-app-color);
                text-decoration: unset;
              }
          }
          [buy]{
            --background: var(--ion-app-color);
              margin-top: var(--ion-spacing-5);
              font-size: var(--ion-font-12);
              --box-shadow: unset;
              --border-radius: 100px;
              --background-hover: var(--ion-app-color);
          }
          [view]{
            --background: transparent;
              --color: var(--ion-app-color);
              margin-top: var(--ion-spacing-5);
              font-size: var(--ion-font-12);
              --box-shadow: unset;
              --border-radius: 100px;
              --background-hover: transparent;
              --border-width: 1px;
              --border-color: var(--ion-app-color);
              --border-style: solid;
              float: left;
          }
        }
      }
    }

    &[available]{

      ion-slides{
        ion-card{
              margin: 10px;
        }
        .swiper-pagination{
          position: relative;
        }
        ion-slide{
          max-width: 350px!important;
          img{
            height: 26vh;
              object-fit: cover;
              object-position: top;
              width: 100%;
          }
          ion-card-subtitle{
            font-size:  var(--ion-font-12);
              color: var(--ion-app-color);
          }

          ion-card-title{
            font-size:  var(--ion-font-16);
              font-weight: 600;
              margin-top: 5px;
              color: #6b6b73;
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
          }
          ion-card-content{
            p{
              font-size: var(--ion-font-12);
            }
            [buy]{
              --background: var(--ion-app-color);
              margin-top: var(--ion-spacing-5);
              font-size: var(--ion-font-12);
              --box-shadow: unset;
              --border-radius: 100px;
              --background-hover: var(--ion-app-color);
            }
            [view]{
              --background: transparent;
                --color: var(--ion-app-color);
                margin-top: var(--ion-spacing-5);
                font-size: var(--ion-font-12);
                --box-shadow: unset;
                --border-radius: 100px;
                --background-hover: transparent;
                --border-width: 1px;
                --border-color: var(--ion-app-color);
                --border-style: solid;
            }
          }
        }
      }
    }
  }
}
.drop-sw {
    position: absolute;
    top: 4px;
    right: 8px;
    color: #fff;
  ion-icon {
        text-shadow: 0px 0px 2px #000;
    font-size: 17px;
    background: #0f697185;
    border-radius: 50px;
    color: #ffffff;
    padding: 2px;
  }
  ul.list-alsa {
    padding: 5px 0px;
    margin: 0px;
    font-size: 12px;
    background: #fff;
    color: #222;
    list-style: none;
    text-align: left;
    min-width: 133px;
    position: absolute;
    right: 0px;
    z-index: 111;
    li {
      font-size: 13px;
      font-weight: 600;
      letter-spacing: 0px;
      padding: 5px;
    }
    &:after {
        content: "";
        position: absolute;
        right: 4px;
        top: -9px;
        border: 5px solid #222;
        border-color: transparent transparent #fff transparent;
      }
  }
}
p.text-dr {
    text-align: left;
    font-size: 11px !important;
    margin: 10px 7px !important;
  span.dts {
    float: right;
    font-size: 8px;
    margin-top: 3px;
  }
  
}
span.complts {
    position: absolute;
    bottom: 38px;
    color: #fff;
    font-size: 9px;
    text-shadow: 0px 0px 8px #000;
    right: 7px;
}
ion-card-header.hfr-s {
    padding:10px 5px 0;
  ion-card-title  {
    font-size: 15px !important;
    margin-top: 0px !important;
    margin-bottom: 3px;
  }
  ion-card-subtitle   {
    font-size: 11px !important;margin-top: 0;
  }
  span.right-ic{
    float: right;
    ion-icon {
      font-size: 16px;
      vertical-align: sub;
    }
  }
}
ion-card-content.cont-psta {
    padding: 0px 5px 5px;
    [marminus]{
      margin-left: -5px;    background: #edf6f7;
      margin-right: -5px;margin-top: 10px;
    margin-bottom: 6px;
    }
  p   {
    font-size: 10px !important;
    margin-bottom: 0px;
    line-height: 110%;
    text-align: center;
    b{
      display:block;
      ion-icon{
            font-size: 21px;
          color: #0f6971;
          margin-bottom: 2px;
      }
    }
    &[text-left]{
      text-align: left;
      margin:5px 0 2px;
    }
  }
}
.bg-dwa {
    position: relative;
    display: block;
  .icon-rec
  {     position: absolute;
      top: 10px;
      right: 5px;
     li{   
          background: rgba(255, 255, 255, 0.8);
        padding: 0 9px;
        margin-bottom: 9px;
        display: flex;
        height: 23px;
        align-items: center;
      img
      {
            width: 16px !important;
      }
      ion-icon
      {    font-size: 16px !important;
           color:var(--ion-app-color);
      }
    }
  }
  ul.list-tos {
    padding: 0px;
    margin: 0px;
    line-height: normal;
    position: absolute;
    bottom: 0;
    z-index: 111;
    color: #fff;
    width: 100%;
    background: rgba(0, 0, 0, 0.58);
    padding: 5px;
      li  {
      display: inline-block;
      font-size: 11px;
      margin-right: 10px;
      color: #ececec;
      ion-icon {
        vertical-align: bottom;
      }
    }
    li.str-rt {
      margin-right: 0px !important;
      float: right;
      color: #FF9800 !important;
      margin-top: 2px;
    }
  }
}
ul.icon-rec {
    padding: 0px;
    margin: 0px;
    list-style: none;
    margin-top: 0px;
    float: right;
  li {
    display: inline-block;
    margin-left: 5px;
    img  {
      width: 13px !important;
      height: auto !important;
    }
  }
}
.font-10 {font-size:10px !important; }
[share-top] {
    position: absolute;
    top: 7px;
    right: 7px;
    z-index: 111;
    color: #fbfbfb;
    font-size: 16px;
    text-shadow: 0px 0px 10px #000;
}
[recmded] {
  position: absolute;
    top: 7px;
    right: 10px;
    background: rgb(255, 255, 255);
    z-index: 111;
    width: 20px;
    color: #0f6971;
    font-size: 16px;
    text-shadow: 0px 0px 10px #000;
    height: 20px;
    border-radius: 5px;
}
[processtext]{
    background: rgba(47, 236, 236, 0.411);
    padding: 0px 5px;
    color: #111;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 8px;
    position: absolute;
    letter-spacing: 1px;
    left: 8px;
  top: -128px;
}
img{
  &[recommended]{
    max-width:50px;
    height: auto !important;
  }
}
ion-button{
  border-radius:100px;
}
[plr-0] {padding-left:0px !important; padding-right:0px !important;     padding-top: 10px;
    padding-bottom: 10px; }
ion-card-content.cont-psta [plr-0]  p {    font-weight: 600; }
.pd-ma{padding:0px !important; margin:10px 10px 0px !important; }




/* media css for larger screen */

@media (min-width:575px){
  [available]{
      ion-slides{
        ion-slide{
          max-width: 350px !important;
          img{
            height: 200px !important;
          }

          ion-card-title{
                font-size: 18px !important;
          }
          ion-card-subtitle{
            font-size: 15px !important;
          }
          ion-card-content{
            p{
              font-size: 14px !important;
            }
            [buy]{
              font-size: 14px !important;
            }
            [view]{
              font-size: 14px !important;
            }
          }
          [marminus]{
            p{
              font-size: 12px !important
            }
          }
        }
      }
    }
  .bg-dwa{
    .icon-rec{
      li{
        img{
          object-fit: contain !important;
          height: auto !important;
        }
      }
    }
  }
}
.videos{
  width:10%;
}
.menu{
background-color:rgb(214, 235, 231)
}
p{
    padding-left: 10px;
    position: relative;
    margin-top: 10px;
    margin-bottom: -7px;
}

ion-progress-bar{
  --background:blue;
  --buffer-background:#F5B7B1;
  --progress-background:#E74C3C  
}

span.error_span {
    padding-top: 60%;
    position: absolute;
    padding-left: 16%;
    color:grey
}
h6{
  height: 60px;
  
    }
    
    p{
      height: 60px;
      
        }