<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title><img src="/assets/logo.png" width="120" alt=""></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-slides>

    <ion-slide>
      <iframe width="420" height="315"
      src="https://www.youtube.com/embed/tgbNymZ7vqY">
      </iframe>
    </ion-slide>
   </ion-slides>

   <ion-slides [options]="mySlideOptions" mode="ios">

    <ion-slide>
      <iframe width="420" height="315"
      src="https://www.youtube.com/embed/tgbNymZ7vqY">
      </iframe>
    </ion-slide>

    <ion-slide>
      <iframe width="420" height="315"
      src="https://www.youtube.com/embed/tgbNymZ7vqY">
      </iframe>
    </ion-slide>

    <ion-slide>
      <iframe width="420" height="315"
      src="https://www.youtube.com/embed/tgbNymZ7vqY">
      </iframe>
    </ion-slide>

    <ion-slide>
      <iframe width="420" height="315"
      src="https://www.youtube.com/embed/tgbNymZ7vqY">
      </iframe>
    </ion-slide>
    
   </ion-slides>

   

</ion-content>
