<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title><img src="/assets/logo.png" width="120" alt=""></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div sec1>
    <h3 secHdng>Eventos</h3>
    <span *ngFor="let item of items">
        <h2>See You at midweek</h2>
        <span date>22 Feb, 2020 - 12:30</span>
        <p>{{item.title}}</p>
    
    
        <h2>Concierto san marcos</h2>
        <p>{{!item.descr!}}</p>
      
    </span>
 

  </div>
</ion-content>
