<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title><img src="/assets/logo.png" width="120" alt=""></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div sec1>
    <h3 secHdng>Eventos</h3>
    <span *ngFor="let item of items">
        <h2>See You at midweek</h2>


    <span date>{{item.created_at}}</span>
        <p>{{item.title}}</p>   
        <h2>Concierto san marcos</h2>
       
        <div [innerHTML]="item.descr"></div>  
       <hr style="background-color:grey;margin-top: 25px;margin-bottom: 25px;">  
    </span>
 

  </div>
</ion-content>
