<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title><img class="logo-img" src="/assets/logo.png" width="120" alt=""></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 
  <div sec1>
    <form novalidate  [formGroup]="myform" (ngSubmit)="payWithApplePay()"> 
    <h3 secHdng>Información Personal</h3>
    <ion-row>
     
      <ion-col size="12">

        <div class="box-feilds">
          <ion-select placeholder="TIPO DE DONACIÓN" formControlName="mode" class="myclasss">
            <ion-select-option value="o">OFRENDA</ion-select-option>
            <ion-select-option value="d">DIEZMO</ion-select-option>
          </ion-select>
        
        </div>
        <div *ngIf="!myform.controls.mode.valid && is_submit" class="valid">
          IPO DE DONACIÓN IS REQUIRED
        </div>
      </ion-col>


      <ion-col size="12">

        <div class="box-feilds">
          <ion-input placeholder="NOMBRE COMPLETO" type="text" formControlName="fname" class="myclass"></ion-input>
        
        </div>
        <div *ngIf="!myform.controls.fname.valid && is_submit" class="valid">
          NOMBRE COMPLETO IS REQUIRED
        </div>
      </ion-col>


      <ion-col size="12">

        <div class="box-feilds">
          <ion-input placeholder="DIRECCION" type="text" formControlName="address" class="myclass"></ion-input>
        
        </div>
        <div *ngIf="!myform.controls.address.valid && is_submit" class="valid">
          DIRECCION IS REQUIRED
        </div>
      </ion-col>

      <ion-col size="12">

        <div class="box-feilds">
          <ion-input placeholder="CIUDAD" type="text" formControlName="city" class="myclass"></ion-input>
        
        </div>
        <div *ngIf="!myform.controls.city.valid && is_submit" class="valid">
          CIUDAD IS REQUIRED
        </div>
      </ion-col>

      <ion-col size="12">

        <div class="box-feilds">
          <ion-input placeholder="ESTADO" type="text" formControlName="state" class="myclass"></ion-input>
        
        </div>
        <div *ngIf="!myform.controls.state.valid && is_submit" class="valid">
          ESTADO IS REQUIRED
        </div>
      </ion-col>



      <ion-col size="12">

        <div class="box-feilds">
          <ion-input placeholder="CODIGO POSTAL" type="text" formControlName="zcode" class="myclass"></ion-input>
        
        </div>
        <div *ngIf="!myform.controls.zcode.valid && is_submit" class="valid">
          CODIGO POSTAL IS REQUIRED
        </div>
      </ion-col>




      <ion-col size="12">

        <div class="box-feilds">
          <ion-input placeholder="CANTIDAD" type="number" formControlName="amount" class="myclass"></ion-input>
        
        </div>
        <div *ngIf="!myform.controls.amount.valid && is_submit" class="valid">
          CANTIDAD IS REQUIRED
        </div>
      </ion-col>
  
      
      <!-- <ion-col size="12">
     
  
      </ion-col> -->
      
    </ion-row>

    <ion-row>
      <ion-col size="12">

        <ion-button type="submit" center btcss class="test">Donar ahora</ion-button>
        <ion-button center btcss [routerLink]="['/payment']" class="test"><ion-icon name="arrow-back-circle-outline"></ion-icon> Regresar</ion-button>
      </ion-col>
    </ion-row>
    </form>
  </div>
</ion-content>


