<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title><img src="/assets/logo.png" width="120" alt=""></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div sec1>
    <img src="/assets/img1.jpg" alt="">
    <h2>TEMA: LA FE ELIMINA LAS LIMITACIONES</h2>
    <p>La fe es la llave para nosotros poder alcanzar las promesas, nos vamos a encontrar con obstáculos pero estos no están para paralizar nuestro camino, sino para llevarnos a otro nivel.</p>
    <ion-button routerLink="/bio" center btn-theme>Ver Predicas</ion-button>
  </div>
  <div dynamic><img  routerLink="/event"  src="/assets/img2.jpg" alt=""></div>

  <div sec3>
    <img src="/assets/img3.png" alt="">
    <h3>Viviendo Tu Vida Al MAXIMO</h3>
    <p>73 REFLEXIONES De Inspiración Que Activarán Tu Fe y Te Ayudarán En Tu Caminar Para Vivir En Plenitud</p>
    <ion-button center btn-theme btn-yellow>Mas Information</ion-button>
  </div>
</ion-content>
